@font-face {
    font-family: 'Kongtext';
    src: url('assets/kongtext.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Kongtext', sans-serif;
}


body {
    font-family: kongtext;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
